@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  background-color:black;
background-image:
radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 10px),
radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 5px),
radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 10px),
radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 5px);
background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;;
}

#container {
  background-color: white;
  margin: 0 auto;
  position: relative;
  width: 800px;
  height: 600px;
  border: 5px solid black;
  border-radius: 1em;
}

header {
  text-align: center;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 200%;
}

main {
  position: relative;;
  margin: 0 auto;
  text-align: center;
}

#board {
  display: grid;
  position: relative;
  width: 300px;
  height: 300px;
  align-items: center;
  grid-template-columns: auto auto auto;
  margin: auto;
  vertical-align: middle;
  font-family: 'Nunito', sans-serif;
}

.block {
  display: flex;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
}

.playerOne {
  display: flex;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
  font-size: 400%;
}

.playerTwo {
  display: flex;
  width: 100px;
  height: 100px;
  border: 3px solid black;
  align-items: center;
  justify-content: center;
  font-size: 400%;
}

.winning {
  transition-all: 2s;
  background-color: yellow;
}

#t-l,
#t-m,
#t-r {
  border-top: none;
}

#t-r,
#m-r,
#b-r {
  border-right: none;
}

#b-l,
#b-m,
#b-r {
  border-bottom: none;
}

#t-l,
#m-l,
#b-l {
  border-left: none;
}

#winner-display {
  z-index: 999;
  margin: 0 auto;
  position: absolute;
  align-items: center;
  border-radius: 1em;
  background-color: white;
  text-align: center;
  padding: 0.5em;
  font-size: 200%;
  border: 2px solid black;
}

.block:hover {
  background-color: orange;
}
